<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аттестация</title>
    <link rel="stylesheet" href="/static/css/attestation_portal.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://telegram.org/js/telegram-web-app.js">
        let tg = window.Telegram.WebApp;
        tg.ready()
        tg.expand()
    </script>
    <script src="/static/js/internal_theme.js" defer></script>
</head>
<body>
<div class="main_block">
    <p class="att_header">Аттестация</p>
    <div class="att_body">
        %v
    </div>
</div>
</body>
</html>