<html>
<head>
    <title>My Markdown Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-7Gqg3rMxGmWQdYcK8RyvWJdXH5e4PbVp+Qw+Mx6zRtT8k5WzR7N3qJiQ4F7uU5L0O6hDn0/2+v5O1sW9xg+ZnA==" crossorigin="anonymous" />
    <style>
        .markdown-body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>

<div class="markdown-body">
    %s
</div>
</body>
</html>