<div class="exam">
    <div class="exam_item">
        <div class="exam_left_content">
            <div class="exam_top_line">
                <p class="exam_date">%v</p> <p class="exam_date" style="background-color:#E77A3D;">%v</p>
            </div>
            <div class="name_teacher">
                <p class="exam_name">%v</p>
                <p class="exam_teacher">%v</p>
            </div>
        </div>
        <div class="exam_right_content">
            <div class="exam_place">
                <p class="exam_auditory_building" id="exam_auditory">%v</p>
                <p class="exam_auditory_building" id="exam_building">%v</p>
            </div>
        </div>
    </div>
</div>