<div class="schedule_item %v" id="0">
  <div class="schedule_time">
    <p class="lesson_time">%v</p>
    <p class="lesson_room">%v</p>
  </div>
  <div class="main_info">
    %v
    <p class="lesson_name" style="%v">%v</p>
    <p class="lesson_freq">%v</p>
  </div>
  <div class="hidden_payload">

      <div class="popup_header">
        <p class="popup_header_text">
          %v
        </p>
      </div>
      <div class="popup_body">
        <p class="popup_subheader">
          Предмет
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Преподаватель
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Место
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Периодичность
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Время
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Тип
        </p>
        <p class="popup_maintext">
          %v
        </p>
        <p class="popup_subheader">
          Вы можете пометить занятие как удаленное (необходима авторизация по студенческому билету)
        </p>
        <div class="content-remover" content-id="%v" uniqstring="%v" %v>
          <button class="remove-btn">Удалить элемент</button>
          <div class="confirm-buttons hidden">
            <button class="cancel-btn">Отмена</button>
            <button class="confirm-btn">Подтвердить</button>
          </div>
<!--          <p class="delete_lesson_info"></p>-->
        </div>
        <button class="return-btn" style="%v">Вернуть занятие</button>
        <p class="return_delete_lesson_info"></p>

        </div>
    </div>
</div>