<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Загрузка...</title>
  <link rel="stylesheet" href="/static/css/loading_page.css">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div id="loading">
  <img src="/static/img/capy.svg" class="logo_image">
  <div class="loading_text">
    <p class="loading_text_p" id="loading_text_p">Загрузка...</p>
  <p class="loading_text_p">Иногда это может достигать минуты. Пожалуйста, подождите...</p>
  </div>
</div>

<script src="/static/js/loading.js"></script>
</body>
</html>