<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>web-kai</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/vk.js" defer></script>
  <script defer src="/static/js/browser.min.js" onload="initVK()"></script>
<!--  <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>-->
<!--    <script>-->
<!--    vkBridge.send('VKWebAppInit');-->
<!--    // vkBridge.send('VKWebAppAllowMessagesFromGroup');-->

<!--  </script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>-->

<!--  <script type="module" src="/static/js/lottie.js"></script>-->




  <link rel="stylesheet" href="/static/css/exam.css" defer>
  <link rel="stylesheet" href="/static/css/score.css" defer>
  <link rel="stylesheet" href="/static/css/teachers.css" defer>


</head>
<body>
<div class="main_block">
<!--  <div class="preloader">-->
<!--    <div class="loader" id="loader"></div>-->
<!--  </div>-->
  <div class="schedule_main_block">
  <div class="schedule_block">
  <p class="header_text">Расписание</p>
  <div class="schedule-wrapper">
  </div>
</div>
</div>
  <div class="schedule_exam_block"></div>
  <div class="score_block"></div>
  <div class="teacher_block"></div>
  <div class="lesson_editor_block" style="display: none;">
    <p class="header_text">Редактор занятий</p>

    <div class="lesson_editor">
      <div class="lesson_editor_header">
        <p class="lesson_editor_header_text">
          Добавить пару
        </p>
      </div>
      <div class="editor_body">
      <p class="editor_text">
        Введите название пары (до 30 символов)
      </p>
      <input type="text" class="input_lesson_name" oninput="if(this.value.length>30) this.value=this.value.slice(0,30)" placeholder="Введите название">
      <p class="editor_text">
        Выберите день недели
      </p>
      <select class="day_date_input">
        <option value="day1">Понедельник</option>
        <option value="day2">Вторник</option>
        <option value="day3">Среда</option>
        <option value="day4">Четверг</option>
        <option value="day5">Пятница</option>
        <option value="day6">Суббота</option>
      </select>
      <p class="editor_text">
        Выберите периодичность
      </p>
      <select class="date_input">
        <option value="oneveryday">Еженедельно</option>
        <option value="onodd">По четным</option>
        <option value="onnoodd">По нечетным</option>
        <option value="onodd1">По четным 1 подгруппа, по нечетным 2</option>
        <option value="onodd2">По четным 2 подгруппа, по нечетным 1</option>
      </select>
      <p class="editor_text">
        Выберите тип пары
      </p>
      <select class="type_input">
        <option value="lecture">Лекция</option>
        <option value="practice">Практика</option>
        <option value="lab">Лабораторная работа</option>
        <option value="consultation">Консультация</option>
      </select>
      <p class="editor_text">
        Выберите время начала
      </p>
      <select class="type_input">
        <option value="0800">8:00</option>
        <option value="0940">9:40</option>
        <option value="1120">11:20</option>
        <option value="1330">13:30</option>
        <option value="1510">15:10</option>
        <option value="1650">16:50</option>
        <option value="1830">18:30</option>
      </select>
    </div>
    </div>
  </div>
  <div class="services_block" style="display: none; margin-bottom:100px;">
    <p class="header_text">О ПРОЕКТЕ</p>
    <div class="logo_container">
    <img class="img_logo" src="static/img/logo_white_bg.svg">
    </div>
    <br>
      <div class="contact_buttons_row">
        <div class="contact_button" id="add_to_homescreen">Добавить на гл. экран (Android)</div>
        <div class="contact_button" id="open_exam">Экзамены</div>
        <div class="contact_button" id="open_homework" style="opacity: 50%;">Задания</div>
        <div class="contact_button" id="open_schedule_editor" style="opacity: 50%;">Добавить пару</div>
        <div class="contact_button" id="open_classmates_list" style="opacity: 50%;">Одногруппники</div>
        <div class="contact_button" id="open_icalendar" style="opacity: 50%;">Экспорт в календарь</div>
        <div class="contact_button" id="reset_group">Сбросить номер группы</div>
<!--        <p class="project_description" style="font-size: 12px;">* Если расписание не отображается, возможно, вам следует уточнить номер группы по этой кнопке</p>-->
        <div class="contact_button" id="mail_to_developer">Сообщение разработчику</div>
        <div class="contact_button" id="mail_to_improvement">Предложения по улучшению</div>
        <div class="contact_button" id="open_rules" onclick="window.location.href='https://vk.com/topic-182372147_49433874'">Правила</div>
<!--      </div>-->
<!--    <p class="project_description">Данный проект является тестовым и направлен на выявление интереса у студентов к подобному формату получения расписания.-->
<!--      Если вам будет интересен данный проект, то в дальнейшем его ждет сильное развитие. Вся активность будет собираться, анализироваться и будет приниматься решение о дальнейших нововведениях.-->
<!--      Вы также можете присоединиться к разработке или оставить свое пожелание по функционалу.-->
<!--      Также вы можете поддержать разработчика материально:-->
<!--      <br>-->
<!--    </p>-->
<!--    <div class="contact_buttons_row">-->
      <div class="contact_button" id="donate_tinkoff" style="background: #D46600">Перевод</div>
      <div class="contact_button" id="donate_donut" onclick="window.location.href='https://vk.com/botraspisanie?source=description&w=donut_payment-182372147'" style="background: #D46600">Подписка Donut</div>
      <div class="contact_button" id="donate_app" style="background: #D46600">Донат с отображением в паблике</div>
  </div>
      <a href="https://www.tinkoff.ru/cf/7EDMYnSmO68" style="display:none;" id="h_donate_tinkoff">Перевод</a>
<!--      <br>-->
      <a href="https://vk.com/botraspisanie?source=description&w=donut_payment-182372147" id="h_donate_donut" style="display:none;">Подписка Donut</a>
<!--      <br>-->
      <a href="https://vk.com/botraspisanie?w=app6887721_-182372147" style="display:none;" id="h_donate_app">Донат с отображением в паблике</a>

<!--    <p class="project_description" id="developed_by"> Developed by Ilya Dobrynin-->
    </p>
  </div>
  <div class="auth_error_block" style="display: none;">
    <div class="auth_error_header">
      Ошибка
    </div>
    <div class="auth_error_body">
      <p class="auth_error_text">
        Чтобы просматривать эту страницу, необходимо войти по номеру зачетной книжки или студенческому билету
      </p>
      <button class="enter_button">Войти</button>
    </div>
  </div>
</div>
<input type="text" size="40" value="2" readonly="true" style="display: none;" id="action_id">
<div class="menu_bar">
<!--  <div class="menu_item" id="menu_services"><img class="menu_icon" src="static/img/menu_service.svg"></div>-->
  <div class="menu_item" id="menu_services"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="28" viewBox="0 0 41 28" fill="none">
    <path d="M2 26.1533H38.7891" stroke="white" stroke-width="3" stroke-linecap="round"/>
    <path d="M2 14.1025H38.7891" stroke="white" stroke-width="3" stroke-linecap="round"/>
    <path d="M2 2.05078L38.7891 2.05078" stroke="white" stroke-width="3" stroke-linecap="round"/>
  </svg></div>
  <div class="menu_item" id="menu_score"><img class="menu_icon" src="static/img/menu_score.svg"></div>
  <div class="menu_item" id="menu_schedule"><img class="menu_icon" src="static/img/menu_schedule.svg"></div>
  <div class="menu_item" id="menu_teachers"><img class="menu_icon" src="static/img/menu_teacher.svg"></div>
  <div class="menu_item" id="menu_exam"><img class="menu_icon" src="static/img/full_shed.svg"></div>
</div>
</div>


<div class="pop" id="popup">
</div>


<script src="/static/js/main.js"></script>
<!--  <script type="module" src="/static/js/loader.js"></script>  -->
<!--  <script async src="/static/js/loader.js"></script>-->
<script src="/static/js/menu.js"></script>
<script src="/static/js/exam.js"></script>
<script src="/static/js/score.js"></script>
<script src="/static/js/teacher.js"></script>
<script src="/static/js/editor.js"></script>
<!--<script src="/static/js/popup.js"></script>-->

</body>
</html>
