<div class="news newspreview" onclick="window.location.href='%v'">
    <div class="header_container">
        <div class="author">
            <img class="author_logo" src="/static/img/author_logo_%v.png">
            <div class="author_badge">%v
                <div class="date">
                    %v
                </div>
            </div>
        </div>

    </div>
    <div class="hashtag">
        %v
    </div>
    <div class="header_text">
        %v
    </div>
    <img class="preview_img_list" src="%v">
    <div class="views_counter">
        <img class="views" src="/static/img/views.svg">
        <p class="views_digit">
            %v
        </p>
    </div>
<!--    <div class="open_news_button" onclick="window.location.href='%v'">Читать</div>-->
     </div>
