<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Новости</title>
    <link rel="stylesheet" href="/static/css/news.css">
</head>
<body>
<div class="news_previews">

<div class="head_title" style="color: #383838;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    float: right;
    margin-right: 50px;
    margin-bottom: 30px;">
    #НОВОСТИ
</div>

    %v
</div>
</body>
</html>