<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Новости</title>
    <link rel="stylesheet" href="/static/css/news.css">
    <script src="https://telegram.org/js/telegram-web-app.js">
        let tg = window.Telegram.WebApp;
        tg.ready()
        tg.expand()
    </script>
    <script src="/static/js/internal_theme.js" defer></script>
</head>
<div class="news">
    <div class="header_block">
        <img src="/static/img/icon-arrow-left.svg" class="arrow-left-btn arrow" id="go-back-btn" onclick="history.back()">
        <p class="att_header">Новости</p>
        <p></p>
    </div>
    <div class="header_container news_padding">
        <img class="author_logo" src="/static/img/author_logo_%v.png">
        <div class="author">
            <div class="author_badge"> %v</div>
        </div>
    </div>
    <div class="underheader news_padding">
        <div class="views_counter">
            <img class="views" src="/static/img/views.svg">
            <p class="views_digit">
                %v
            </p>
        </div>
        <div class="date">
            %v
        </div>
    </div>

    <div class="header_text news_padding">
        %v
    </div>
    %v
    <img class="preview_img" src="%v">
    <div class="news_body news_padding">
        %v
    </div>
</div>
</html>