<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Новости</title>
    <link rel="stylesheet" href="/static/css/news.css">
</head>
<div class="news">
    <img class="preview_img" src="%v">
    <div class="header_container">
        <div class="author">
            <div class="author_badge"><img class="author_logo" src="/static/img/author_logo_%v.png"> %v</div>
        </div>
        <div class="date">
            %v
        </div>
    </div>

    <div class="header_text">
        %v
    </div>
    %v
    <div class="news_body">
        %v
    </div>
</div>
</html>