<div class="news">
    <img class="preview_img_list" src="%v">
    <div class="header_container">
        <div class="author">
            <div class="author_badge"><img class="author_logo" src="/static/img/author_logo_%v.png">• %v</div>
        </div>
        <div class="date">
            %v
        </div>
    </div>
    <div class="header_text">
        %v
    </div>
    <div class="news_preview">
        %v
    </div>
    <div class="hashtag">
        %v
    </div>
    <div class="open_news_button" onclick="window.location.href='%v'">Читать</div>
    <hr style="margin-bottom: 25px;">
</div>
