<div class="score_elem">
  <p class="score_name">
    %v
  </p>
  <p class="score_value">
    %v
  </p>
  <div class="hidden_payload">

    <div class="popup_header">
      <p class="popup_header_text">
        Твои баллы: %v
      </p>
    </div>
    <div class="popup_body">
      <p class="popup_maintext score_maintext">
      %v
      </p>
      <p class="popup_subheader score_subheader">
        АТТЕСТАЦИЯ #1
      </p>
      <p class="popup_maintext score_maintext">
        Ваш балл: %v
        <br>
        Max балл: %v
      </p>
      <p class="popup_subheader score_subheader">
        АТТЕСТАЦИЯ #2
      </p>
      <p class="popup_maintext score_maintext">
        Ваш балл: %v
        <br>
        Max балл: %v
      </p>
      <p class="popup_subheader score_subheader">
        АТТЕСТАЦИЯ #3
      </p>
      <p class="popup_maintext score_maintext">
        Ваш балл: %v
        <br>
        Max балл: %v
      </p>
      <p class="popup_subheader score_subheader">
        ИТОГО
      </p>
      <p class="popup_maintext score_maintext">
        Доп. баллы: %v
        <br>
        Сумма: %v
      </p>
      <p class="popup_maintext score_info">
        *Предоставленная сумма баллов не включает в себя данные за зачет и экзамен.
      </p>


    </div>
  </div>
</div>