<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirect Page</title>
  <!-- Подключаем библиотеку Telegram Web App -->
  <script src="https://telegram.org/js/telegram-web-app.js" async></script>
</head>
<body>
<script>
  // // Обработчик события загрузки Telegram Web App
  // let tg = window.Telegram.WebApp;
  // tg.expand();
  // // Получаем init параметры запуска и хэш из Telegram Web App
  // const init = .detail.init;
  // const hash = event.detail.hash;
  //
  // // Создаем новый URL-адрес с добавленными параметрами
  // const redirectURL = `https://example.com/your-miniapp?init=${init}&hash=${hash}`;
  //
  // // Выполняем редирект на новый URL-адрес
  // window.location.href = redirectURL;
</script>
</body>
</html>