<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>web-kai</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>
  <script>
    vkBridge.send('VKWebAppInit');
    vkBridge.send('VKWebAppAllowMessagesFromGroup');

  </script>
  <script async src="/static/js/main.js"></script>
  <script async src="/static/js/menu.js"></script>
  <script async src="/static/js/exam.js"></script>
</head>
<body>
<div class="main_block">
<div class="schedule_main_block">
<div class="schedule_block">
  <p class="header_text">Расписание</p>
  <div class="schedule-wrapper">
  </div>
  </div>
</div>
  <div class="schedule_exam_block"></div>
</div>
<div class="menu_bar">
  <div class="menu_item" id="menu_exam"><img class="menu_icon" src="static/img/menu_exam.svg"></div>
  <div class="menu_item" id="menu_score"><img class="menu_icon" src="static/img/menu_score.svg"></div>
  <div class="menu_item" id="menu_schedule"><img class="menu_icon" src="static/img/menu_schedule.svg"></div>
  <div class="menu_item" id="menu_teachers"><img class="menu_icon" src="static/img/menu_teacher.svg"></div>
  <div class="menu_item" id="menu_services"><img class="menu_icon" src="static/img/menu_service.svg"></div>
</div>
<input type="text" size="40" value="2" readonly="true" style="display: none;" id="action_id">
</div>
<!--<script src="/static/js/slider_new.js"></script>-->


</body>
</html>