.teacher_list {
    width: 100%;
    max-width: 336px;
    height: auto;
    display: block;
}
.teacher_list_header {
    width: 100%;
    height: 56px;
    left: 28px;
    top: 17px;

    background: #3E188F;
    border-radius: 20px 20px 0px 0px;
}
.teacher_header {
    position: relative;
    top: 50%;
    margin-top: -0.625em;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    /*alignment: center;*/
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /*letter-spacing: -0.065em;*/
    color: #FFFFFF;
}
.schedule_teacher_block {
    margin: auto;
    width: 336px;
}