:root {
    --background-color: #fff;
    --text-color: #000;
    --text-hint-color: #818C99;
    --button-color: #0047FF;
    --button-text-color: #fff;
}

@font-face {
    src: url("fonts/Inter-Regular.ttf");
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

.att_element_body_header {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    /*width: 100%;*/
    padding: 10px 16px;
    margin: 0px;
    color: var(--text-color)
}

.element_block {
    width: 100%;
    padding: 10px 16px;
}

.element_block_header {
    font-family: Inter;
    text-align: left;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var(--text-hint-color);
}

.element_block_text {
    font-family: Inter;
    text-align: left;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    color: var(--text-color);
}

.attestation_block_header_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto 0 16px;
    color: var(--text-color);
}

.attestation_block_assessment{
    margin-left:16px;
}

.attestation_block {
    width: 100%;
}

.main_block {
    padding-bottom: 30px;
    height: 100vh;
    width: 100%;
}

.att_header {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Расположение элементов по краям */
    align-items: center;
    color: var(--text-color)
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-left-btn {
    position: relative;
    display: block;
    left: 16px;
    width: auto;
}

.attestation_block_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attestation_block_header .attestation_block_header_text {
        margin-right: 3px;
}

.attestation_block_header .open_desc_button {
    margin-left: auto;
}

.attestation_block_counter {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-hint-color)

}

.open_desc_button {
    margin: auto 26px auto auto;
    width: 100px;
    position: relative;
    display: flex; /* Используем flex-контейнер для родительского блока */
    justify-content: center; /* Выравниваем элементы по горизонтали по центру */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    height: 30px;
}

.arrow-bottom-btn {
    position: absolute;
}