:root {
    --background-color: #fff;
    --text-color: #000;
    --text-hint-color: #818C99;
}

body {
    background: var(--background-color);
}

@font-face {
    src: url("fonts/Inter-Regular.ttf");
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

.logo_image {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    height: 50vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(180deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(360deg);
        animation-timing-function: ease-out;
    }
}

.logo_image {
    animation: rotate 900ms infinite;
    margin-bottom: 30px;
}

.loading_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 0px;
    display: block;
    position: relative;
    color: var(--text-color);
}