:root {
    /*--primary-color: #4CAF50;*/
    /*--primary-color-hover: #3e8e41;*/
    /*--text-color: #ffffff;*/
    --background-color: #fff;
    --secondary-color: #818C99;
    --text-color:  #171717;
    --open-news-button-color: #EBECEE;
    --hashtag-color: #4A4A4A;
    --secondary-background-color: #f7f7f7;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background-color: #000    ;*/
/*        --secondary-color: #eae9e9;*/
/*        --text-color: #e3e3e3;*/
/*        --open-news-button-color: #EBECEE;*/
/*        --hashtag-color: #d9d9d9;*/
/*    }*/
/*}*/

.head_title {
    display: block;
    color: var(--text-color);
}

.news {
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
    background: var(--background-color);
    border-radius: 16px;
    margin-bottom: 25px;
}
.newspreview {
    background: var(--secondary-background-color);
}

.news_padding {
    padding-left: 16px;
    padding-right: 16px;
}

body {
    margin: 0px;
    background: var(--background-color);
}


.news_previews {
    max-width: 450px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
}

@font-face {
    src: url("fonts/Inter-Regular.ttf");
    font-family: Inter-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

@font-face {
    src: url("fonts/Inter-Medium.ttf");
    font-family: Inter-Medium;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

@font-face {
    src: url("fonts/Roboto-Medium.ttf");
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

@font-face {
    src: url("fonts/Roboto-Light.ttf");
    font-family: Roboto-Light;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}
.header_container {
    overflow: hidden; /* для очистки float */
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.author {
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    float: left;
}

.header_text {
    position: relative;
    text-align: left;
    width: auto;
    height: auto;
    display: block;

    color: var(--text-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
    letter-spacing: 0.1px;

    margin-bottom: 15px;
}

.date {
    position: relative;
    width: auto;
    height: auto;
    display: block;
    color: var(--secondary-color);
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;

    margin-top: auto;
}

.author {
    color: var(--text-color);
    font-family: Inter-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
}

.news_body {
    color: var(--text-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto-Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 125% */
    letter-spacing: 0.2px;
    margin-top: 24px;
    margin-bottom: 50px;
}

img {
    width: 100%;
    height: auto;
    position: relative;
    margin: 15px 0px;

}

.preview_img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    border-radius: 16px;
}

.author_badge {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
}

.author_logo {
    margin: 0px 10px 0px 0px;
    height: 36px;
    width: 36px;
}

.preview_img_list {
    max-width: 100%;
    width: auto;
    max-height: 430px;
    /*width: auto;*/
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    /*background-image: url('path/to/image.jpg');*/
    background-size: cover;
    background-position: center center;
}

.open_news_button {
    display: flex;
    height: 37px;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* для Safari */
    -moz-user-select: none; /* для Firefox */
    -ms-user-select: none; /* для IE */
    user-select: none;

    color: #383838;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */

    border-radius: 8px;
    background: var(--open-news-button-color);

    /*margin-bottom: 25px;*/
    margin-bottom: 5px;
}

.news_preview {
    color: var(--secondary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.hashtag {
    color: var(--hashtag-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.ai_content_alert {
    width: 228px;
    height: auto;
    display: flex;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.back_to_main_news {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--text-color);
 }
.back_to_main_news:hover {
    background-color: var(--secondary-background-color);
}

.views_counter {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.1px;
    text-align: left;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.views {
    width: 16px;
    height: 16px;
    margin: 0px 2px 0px 0px;
}
.views_digit {
    line-height: 17px;
    height: 16px;
    color: var(--secondary-color);
    font-family: Inter-Medium;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px 15px 0px 0px;
}

.head_title {
    font-family: Inter-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    display: block;
    margin: 16px 10px 10px 10px;
}

.underheader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-left-btn {
    position: relative;
    display: block;
    left: 16px;
    width: auto;
}

.att_header {
    font-family: Inter-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Расположение элементов по краям */
    align-items: center;
    color: var(--text-color)
}
