.news {
    max-width: 350px;
    margin: 0 auto;
}

.news_previews {
    max-width: 450px;
    margin: 0 auto;
}

@font-face {
    src: url("Inter-Regular.ttf");
    font-family: Inter-Thin;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

@font-face {
    src: url("fonts/Roboto-Medium.ttf");
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}

@font-face {
    src: url("fonts/Roboto-Light.ttf");
    font-family: Roboto-Light;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}
.header_container {
    overflow: hidden; /* для очистки float */
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.author {
    display: inline-block;
    float: left;
}

.header_text {
    position: relative;
    text-align: left;
    width: auto;
    height: auto;
    display: block;

    color: #171717;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.1px;

    margin-bottom: 10px;
}

.date {
    position: relative;
    margin-left: 25px;
    width: auto;
    height: auto;
    display: block;
    color: #818C99;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;

}

.author {
    color: #818C99;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;


}

.news_body {
    color: #171717;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 125% */
    letter-spacing: 0.2px;
}

img {
    width: 100%;
    height: auto;
    position: relative;
    margin: 30px 0px;

}

.preview_img {
    display: block;
    max-height: 400px;
    max-width: 100%;
}

.author_badge {
    display: flex;
    align-items: center;
}

.author_logo {
    margin: 0px 10px 0px 0px;
    height: 25px;
    width: 25px;
}

.preview_img_list {
    max-width: 100%;
    max-height: 230px;
    /*width: auto;*/
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    /*background-image: url('path/to/image.jpg');*/
    background-size: cover;
    background-position: center center;
}

.open_news_button {
    display: flex;
    height: 37px;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #383838;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */

    border-radius: 8px;
    background: #EBECEE;

    /*margin-bottom: 25px;*/
    margin-bottom: 5px;
}

.news_preview {
    color: #818C99;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto-Light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.hashtag {
    color: #4A4A4A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}