:root {
    --background-color: #fff;
    --secondary-color: #818C99;
    --text-color:  #171717;
    --open-news-button-color: #EBECEE;
    --hashtag-color: #4A4A4A;
    --secondary-background-color: #f7f7f7;
}

@font-face {
    src: url("fonts/Inter-Medium.ttf");
    font-family: Inter-Medium;
    font-size: 22px;
    font-weight: 500;
}

@font-face {
    src: url("fonts/Inter-Regular.ttf");
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
}

.no_data_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no_data_block_header {
    font-family: Inter-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: var(--text-color);
}

.no_data_block_desc {
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    color: var(--text-hint-color)
}