:root {
    --background-color: #fff;
    --text-color: #000;
    --text-hint-color: #818C99;
    --button-color: #0047FF;
    --button-text-color: #fff;
}

body {
    background: var(--background-color);
}

input {
    background-color: var(--background-color);
    border: 1px solid var(--text-hint-color);
    color: var(--text-color);
}



.main_logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}
.header_block_text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 12px;
    color: var(--text-color)
}

.header_block_text_desc {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    color: var(--text-hint-color);

}

.open_form_btn {
    width: 90%;
    max-width: 328px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--button-color);
    border: 0px;
    color: var(--button-text-color);

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_block {
    width: 100%;
    height: 231px;
    max-width: 328px;
    margin: 0 auto;
}

.main_block {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 90%;
    max-width: 328px;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
}

.submit_btn {
    width: 100%;
    max-width: 328px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--button-color);
    color: var(--button-text-color);

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.auth_form {
    width: 90%;
    max-width: 328px;
    margin: 0 auto;
}

.result {
    width: auto;
    max-width: 328px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    border-radius: 8px;
    background: red;
    color: white;
    opacity: 70%;
}

#status {
    margin: 10px;
    color: var(--text-color);
}

@font-face {
    src: url("fonts/Inter-Regular.ttf");
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.065em;
    text-align: left;

}